$li-height: 20;

.home-container {
    height: 100%;

    .tools {
        height: 45px;
        border-bottom: 1px solid #eee;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.14);
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 20px;

        /deep/ .el-button {
            padding: 5px 10px;
        }

        >div {
            display: flex;
            align-items: center;

            .text {
                color: #409eff;
            }

            .all-times {
                color: #CCC;
                margin: 0 15px;
            }

            .canlan {
                margin: 0 15px;

                /deep/ .el-date-editor {
                    width: 170px;
                }
            }
        }
    }

    .list-content {
        height: calc(100% - 45px);
        display: flex;
        background-color: #FFF;

        .times {
            flex: 0 0 80px;
            box-sizing: border-box;
            border-right: 1px solid #eee;
            box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
            overflow: hidden;

            >ul {
                padding-top: 45px;

                >li {
                    height: 80px;
                    box-sizing: border-box;
                    color: #888;
                    text-align: center;
                }
            }
        }

        .lists {
            flex: 1;
            overflow: hidden;

            .header {
                height: 50px;

                .week-list {
                    height: 50px;
                }
            }

            .week-list {
                border-bottom: 1px solid #eee;

                >li {
                    width: 14.28%;
                    height: 100%;
                    float: left;
                    box-sizing: border-box;
                    border-right: 1px solid #d6e3e8;
                    position: relative;

                    &.active {
                        background-color: #f4fff5;
                    }

                    >div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #446fa7;



                        &.day {
                            font-weight: bold;
                            height: 100%;
                            padding: 0 10px;

                            >div {
                                display: flex;
                                align-items: center;
                                position: relative;

                                /deep/ .el-link {
                                    font-size: 12px;
                                    margin-right: 5px;
                                }

                                .dot {
                                    position: absolute;
                                    top: -10px;
                                    right: -15px;
                                    font-weight: normal;
                                    width: 15px;
                                    height: 15px;
                                    background-color: #ffc14f;
                                    border-radius: 50%;
                                    color: #FFF;
                                    padding: 2px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transform: scale(0.8);
                                }
                            }

                            .total-times {
                                font-size: 12px;
                                color: #bfbfbf;

                                >span {
                                    margin-left: 5px;

                                    .state-3 {
                                        color: orange;
                                    }

                                    .state-4 {
                                        color: $c-main;
                                    }
                                }
                            }

                            &.active {
                                color: #3abd6e;
                            }
                        }

                        &.pos {
                            position: absolute;
                            bottom: 0;
                            left: 10px;
                            right: 10px;
                            height: 4px;
                            background-color: #e3eaef;

                            &.active {
                                background-color: #c7f1c2;
                            }
                        }
                    }
                }
            }

            .tables {
                height: calc(100% - 50px);
                overflow: hidden;
                position: relative;

                .scrollbar {
                    height: 100%;

                    /deep/ .el-scrollbar__wrap {
                        overflow-x: hidden;
                        position: relative;

                        .el-scrollbar__view {
                            position: relative;
                        }
                    }

                    /deep/ .is-horizontal {
                        display: none;
                    }
                }

                .week-list {
                    >li {
                        .mask {
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, .05);
                            position: absolute;
                        }

                        >div {
                            height: 20px;
                            box-sizing: border-box;
                            border-top: 1px solid #eceef1;
                            position: relative;

                            &.bh {
                                border-color: #d6e3e8;
                            }

                            &:hover {
                                .show-time {
                                    display: block;
                                }
                            }

                            .show-time {
                                display: none;
                                cursor: default;
                                user-select: none;
                                width: 100%;
                                height: 20px;
                                position: absolute;
                                top: -11px;
                                background: -webkit-linear-gradient(top,
                                        transparent 10px,
                                        #0a3fff 11px),
                                    -webkit-linear-gradient(left, transparent 10px, transparent 11px);
                                background-size: 11px 11px;
                                text-align: center;
                                font-size: 9px;
                                line-height: 20px;

                                >span {
                                    pointer-events: none;
                                    display: inline-block;
                                    padding: 0 10px;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.data-window {
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 100;
    width: 350px;
    min-height: 200px;
    border: 1px solid #ddd;
    background-color: #ffff;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.15);
    display: none;
    transition: all .25s;

    &.show {
        display: block;
    }

    .title {
        height: 30px;
        background-color: #eee;
        display: flex;
        align-items: center;
        padding: 0 15px;
        justify-content: space-between;
    }
}