.times-container {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 20px;

    .header {
        display: flex;
        background-color: #fff;
        border: 1px solid #DDD;
        box-sizing: border-box;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .08);

        .left {
            width: 200px;
        }

        .mid {
            //width: calc(100% - 200px);
            flex: 1;
            box-sizing: border-box;
            padding: 10px 20px;

            .title {
                border-bottom: 1px solid #d2d1d1;

                >p {
                    font-size: 20px;
                    margin: 0;
                    color: #888;
                    line-height: 40px;

                    &:first-child {
                        font-size: 24px;
                        color: #050842;
                    }
                }
            }

            .desc {
                font-size: 16px;

                >div {
                    padding-top: 15px;

                    /* display: flex;
                    align-items: center; */
                    &.plans {
                        padding: 10px 0 20px 0;

                        fieldset {
                            border: 1px solid #c2dcf7;
                        }
                    }
                }
            }

            .wheel-list {
                padding: 15px 0;

                .contents {
                    display: flex;

                    .calendar {
                        width: 350px;
                        position: relative;
                    }
                }

                .time-util {
                    padding: 40px 20px;
                    box-sizing: border-box;
                }
            }
        }

        .canlader {
            width: 350px;
            position: relative;
            //flex: 0 0 35px;
        }
    }


    .content {
        /* display: flex; */
        padding: 20px 0;

        .left {
            width: 400px;
            min-height: 460px;
            position: relative;
        }

        .mid {
            //width: calc(100% - 450px);
            //flex: 1;
            height: 100%;
            box-sizing: border-box;
            //padding-left: 15px;

            .title {
                border-bottom: 1px solid #DDD;
                height: 40px;
                display: flex;
                box-sizing: border-box;
                padding: 0 15px;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                color: #3675e4;
                font-weight: bold;

                >div {
                    display: flex;
                    align-items: center;

                    &.canlan {
                        >div {
                            margin-right: 10px;
                        }
                    }
                }

                /deep/ .el-form-item {
                    margin-bottom: 0;
                }
            }

            .charts {
                height: calc(100% - 40px);

                /deep/ .echarts {
                    width: 100%;
                    height: 437px;
                    background-color: #fff;
                    padding: 15px;
                    border: 1px solid #DDD;
                    box-sizing: border-box;
                }

                .empty {
                    min-height: 300px;
                    background-color: #FFF;
                    padding: 30px;
                    box-sizing: border-box;
                    font-size: 16px;
                    color: #bdb7b7;
                }
            }

            .table-container {
                /deep/ .el-table {
                    .check-content {
                        text-align: left;
                        padding: 10px;
                        background-color: #fbf4d9;
                        margin-bottom: 15px;
                        border: 1px solid rgba(0, 0, 0, .1);
                        border-radius: 5px;
                    }

                    td {
                        vertical-align: top;
                    }

                    .alltimes {
                        margin-bottom: 15px;
                        background-color: #c9cfef;
                        padding: 5px;
                        border-radius: 5px;
                        font-weight: bold;
                    }

                    .list-time {
                        >li {
                            margin-bottom: 10px;
                            //padding: 10px;
                            background-color: #e3f1ec;
                            border: 1px solid rgba(0, 0, 0, .1);
                            border-radius: 5px;
                            text-align: left;

                            .type {
                                background-color: rgba(0, 0, 0, .05);
                                padding: 0 10px;
                            }

                            >div {
                                padding: 0 10px;
                                line-height: 30px;
                            }

                            .state {
                                color: #888;
                                font-weight: bold;
                                text-align: center;

                                &.state-1 {
                                    color: #2842ff;
                                }

                                &.state-2 {
                                    color: $c-main;
                                }

                                &.state-3 {
                                    color: #CCC;
                                }
                            }

                            /* &:last-child {
                            margin: 0;
                        } */
                        }
                    }
                }

            }
        }

    }
}

.plan-container {}